<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/phpunit/bootstrap.php"
         colors="true"
         cacheResult="false"
         failOnWarning="true"
         failOnRisky="true">
  <testsuites>
    <testsuite name="Fire &amp; Dine">
      <directory>tests/phpunit</directory>
    </testsuite>
  </testsuites>
</phpunit>
